.page-wrap{
    background: #e72955;
    padding: 30px 0;
}
.user-con{
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
}
.user-con .user-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: red;
    border-bottom: 1px solid #999;
}
.user-con .user-box{
    margin: 10px 0;
    overflow: hidden;
}
.user-con .user-box .user-item{
    position: relative;
    margin-top:14px;
    margin-left: 50px;
    overflow: hidden;

}
.user-con .user-box .user-login-tips{
    width: 100px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 12px;
    color: #999;
}
.user-con .user-box .user-item .user-contern{
    padding: 14px 0;
    padding-left: 60px;
    width: 338px;
    outline: none;
    font-size: 14px;
}
.user-con .user-box .user-icon{
    position: absolute;
    font-size: 25px;
    border-right: 1px solid #999;
    height: 46px;
    width: 46px;
    line-height: 47px;
    text-align: center;
}
.user-con .btn{
    width: 200px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 200px;
    margin-top: 20px;
    position: relative;
}
.user-con .user-others{
    margin-top: 5px;
    width: 100%;
    text-align: right;
}
.user-con .user-others .link{
    margin-left: 5px;
}.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}