<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=dege"/>
<meta name="keywords" content="myPorject,个人作品,电商平台"/>
<meta name="description" content="个人电商平台作品"/>

    <title>找回密码 - 电商平台作品</title>
<link href="../css/common.css?322b654a14d9a3f1b35f" rel="stylesheet"><link href="../css/user-pass-reset.css?322b654a14d9a3f1b35f" rel="stylesheet"></head>
<body>
<div class="nav-simple">
    <div class="w">
        <a class="logo" href="./index.html">MMAll</a>
    </div>
</div>
<div class="page-wrap">
    <div class="w">
        <div class="user-con">
            <div class="user-title">密码找回</div>
            <div class="user-box">
                <div class="error-item" id="error-item">
                    <i class="fa fa-adjust error-icon"></i>
                    <p class="error-msg">输入有误</p>
                </div>
                <div class="user-item username-con">
                    <label class="user-label">
                        <i class="fa fa-user user-icon"></i>
                    </label>
                    <input class="user-contern" id="username" placeholder="请输入用户名" autocomplete="off">
                    <a class="btn" id="username-btn">下一步</a>
                </div>
                <div class="user-item question-con">
                    <div class="user-set-question">验证问题：<span id="setquestion"></span></div>
                    <label class="user-label">
                        <i class="fa fa-user user-icon"></i>
                    </label>
                    <input class="user-contern" id="answer" placeholder="请输入问题答案" autocomplete="off">
                    <a class="btn" id="question-btn">下一步</a>
                </div>
                <div class="user-item newpass-con">
                    <label class="user-label">
                        <i class="fa fa-user user-icon"></i>
                    </label>
                    <input class="user-contern" id="newpass" placeholder="请输入新的密码" autocomplete="off">
                    <a class="btn" id="newpass-btn">下一步</a>
                </div>
            </div>
            <div class="user-others">
                <a class="link" href="./user-login.html">前往登陆 >></a>
            </div>

        </div>
    </div>

</div>

<div class="footer">
    <div class="links w">
        <a class="link" href="https://www.baidu.com" target="_blank">百度</a>|
        <a class="link" href="https://www.taobao.com" target="_blank">淘宝</a>|
        <a class="link" href="https://www.jd.com" target="_blank">京东</a>|
        <a class="link" href="https://www.mogujie.com" target="_blank">蘑菇街</a>
    </div>
    <p class="copyright w">
        Copyright © 2017 MMFUN.com All Right Reserved
    </p>
</div>
<script type="text/javascript" src="../js/common.js?322b654a14d9a3f1b35f"></script><script type="text/javascript" src="../js/user-pass-reset.js?322b654a14d9a3f1b35f"></script></body>
</html>